*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
    width: 100%;
    height: 100vh;
}
nav{
    
    width:100%;
    background: #34495e;
    padding: 0px 0px;
    position: absolute;
}

label.Logo{
    font-size: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 0px 100px;
    line-height: 70px;
}
nav label a{
    font-size:40px;
    
    font-family:monospace;
    margin-left: -20px;
    
}
nav label a.active,nav label a:hover{
    border: none;
    
}
nav ul{
    float: right;
    
}
nav li{
    display: inline-block;
    margin: 0px 50px;
    line-height: 80px;
    
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    margin-bottom: 60px;
    
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
    
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
nav ul{
    margin-right: 20px;
    
}
nav a{
    font-size: 17px;
}

.gap{
    margin-bottom: 50px;
}

/*...........DESKTOP.................*/
@media(max-width : 3000px){
    
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    label #btn,
    label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
    }
    #check{
        display: none;
    }
    /*////////////////////FOOTER//////////////*/
    .footer hr{
    margin: 15px;
   }
   .media li{
    display: inline-block;
    margin: 0px 20px;
    line-height: 40px;
    opacity: 0.6;
    font-size: 10px;
   }
   .footer{
    text-align: center;
    opacity: 0.60;
    margin-top: 700px;
    
   }
   .footer h1 {
    font-size: 1.5vw;
    font-family:monospace;
    opacity: 0.6;

    }
    .footer p{
    font-family: cursive;
    }
    /*////////////////////FOOTER//////////////*/
    
    .contact-form{
    margin: auto;
    margin-top:100px;
    width: 40%;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    height: 60%;
    line-height: 3;
    padding: 20px 10px;
    border-radius: 30px;
    background-color: #dfe4ea;
    }
    .contact-form h{
    margin-top: 0;
    padding: 10px;
        font-size: 1.2vw
    }
    .contact-form input{
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
        border-radius: 10px 10px;
        border: 1px solid #aaa;
        background-color: #f1f2f6;
        
    }
    .contact-form input:focus {
  outline: 0;
  border: 1px solid #aaa;
}
       .contact-form textarea{
           width: 90%;
           height: 150px;
           padding: 10px;
           margin: 10px auto;
           resize: none;
           border-radius: 15px;
           background-color: #f1f2f6;
            border: 1px solid #aaa;
    }
     .contact-form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
    .btn{
        width: 20%;
        height: 40px;
        background-color: #0be881; /* Green */
    border: none;
    color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
        border-radius: 20px;
        font-size: 1.2vw;
    }
    .btn:hover {
   background-color: #4CAF50;
  color: white;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
}



/*...........MOBILE.................*/
@media(max-width:1024px){
    
    label.Logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0px 50px;
    line-height: 80px;
    }
    
    label #btn{
        
    display: block;
    }
    nav #icon{
        display: block;
    }
    
    nav ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #2f3640;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
    color: #55E6C1;
    
    }
    nav ul.show{
        left:0;
        
    }
    

    
    #check:checked ~ ul{
        left: 0;
        position:absolute;
    }
    #check:checked ~ label #btn{
        display: none;
        
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .media li{
        font-size: 8px;
    }
    .footer h1{
        font-size: 10px;
    }
    .contact-form{
    margin: auto;
    margin-top:100px;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    height: 70%;
    line-height: 3;
        padding: 10px 10px;
}
.contact-form h{
    padding: 10px;
    font-size: 3vw;
}
.contact-form input{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 11px;
}
    .contact-form textarea{
    width: 80%;
    height:20vw;
        resize: none;
}
    .btn{
        font-size: 3vw;
    }


}


