*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
}
nav{
    height: 80px;
    width:100%;
    background: #34495e;
}

label.Logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0px 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}
nav li{
    display: inline-block;
    margin: 0px 50px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
    
}

nav #icon{
    color: white;
    font-size: 30px;
line-height: 80px;
float: right;
margin-right: 40px;
cursor: pointer;
display: none;
}

@media(max-width : 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
}
nv ul{
    margin-right: 20px;
    
}
nav a{
    font-size: 17px;
}
@media(max-width:909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #2f3640;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;    
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
        
    }
}
.content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
}
.content h1{
    font-size: 100px;
    padding: 30% 0;
    font-family:cursive;
}
.clock{
    font-size: 30px;
    font-family:fantasy;
    background-color:darkgray;
}
.para{
    align-self: center;
    text-align: center;
}
.para p{
    font-family:cursive;
    font-size: 30px;
    background-color:cadetblue
}
.logoimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about{
    text-align: center;
    margin-top: 10px;
    background-color:cornsilk;
}
.about h1{
    font-family: cursive;
    font-size: 50px;
    opacity: 0.7;
}
.about p{
    opacity: 0.8;
    margin-top: 100px;
}
hr{
    margin: 20px -16px;
}
.footer{
    text-align: center;
    opacity: 0.60;
    
}
.footer h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family:monospace;
    opacity: 0.;
}
.footer p{
    font-family: cursive;
}
