*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
}
nav{
    height: 80px;
    width:100%;
    background: #34495e;
}

label.Logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0px 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}
nav li{
    display: inline-block;
    margin: 0px 50px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
    
}

nav #icon{
    color: white;
    font-size: 30px;
line-height: 80px;
float: right;
margin-right: 40px;
cursor: pointer;
display: none;
}

@media(max-width : 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
}
nv ul{
    margin-right: 20px;
    
}
nav a{
    font-size: 17px;
}
@media(max-width:909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #2f3640;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;    
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
        
    }
}
/*
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
}
.wrapper{
    width: 1175px;
    margin: 0 auto;
}
header{
    height:50px;
    background: #262626;
    width:100%;
    z-index: 12;
    position: fixed;
}

.navbar{
    width:100%;
    display: flex;
    align-items: center;
}
.logo{
    width:80px;
    cursor: pointer;
    margin: 20px 0px;
}


body{
    background-image: url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:black;
    
    
    margin: 0;
    border-spacing: inherit;
    border: 100%;
    border-spacing: 0;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    height: 100%;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}


*/

/*
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: cadetblue;
    z-index: 1;
    opacity: 0.65;
}
.para{
    position: absolute;
    z-index: 2;
    font-size: 200%;
    /*background-color:beige ;
    padding: 1rem 2rem;
    text-decoration: none;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.button1{font-size: 10px;}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 1px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkred;
}*/