*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: monospace;
}
nav{
    
    width:100%;
    background: #34495e;
    padding: 0px 0px;
    position: absolute;
}

label.Logo{
    font-size: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 0px 100px;
    line-height: 70px;
}
nav label a{
    font-size:40px;
    
    font-family:monospace;
    margin-left: -20px;
    
}
nav label a.active,nav label a:hover{
    border: none;
    
}
nav ul{
    float: right;
    
}
nav li{
    display: inline-block;
    margin: 0px 50px;
    line-height: 80px;
    
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    margin-bottom: 60px;
    
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
    
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media(max-width : 3000px){
    /*////////////////POSTS////////////////////////*/
    .cardcontainer{
        display: flex;
        justify-content: center;
    }
    .card{

        background-color: #dcdde1;
        width: 310px;
        height: 300px;
        margin: 30px;
        margin-top:120px;
        text-align: center;
        border-radius: 10px 10px 10px 10px;
        
        box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
    }
    .card:hover {
        box-shadow: 5px 8px 8px 0 rgba(0,0,0,0.2);
        
    }
    .card-image{
        background-color:red;
        margin-top:0px;
        height: 180px;
       
        
    }
    .card-1{
        background-image: url(images/cc.jpg);
        background-size: cover;
        border-color: black;
    }
    .card-2{
        background-image: url(images/grass.jpg);
        background-size: cover;
    }
    .card-3{
        background-image: url(images/grass.jpg);
        background-size: cover;
    }
    .card1 h2{
        font-family:monospace;
        font-size: 20px;
    }
    .card1 p{
        margin-top: 5px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .card2 h2{
        font-family:monospace;
        font-size: 20px;
    }
    .card2 p{
        margin-top: 5px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .card3 h2{
        font-family:monospace;
        font-size: 20px;
    }
    .card3 p{
        margin-top: 5px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .card a{
        background-color: lightcoral;
        padding: 5px 5px;
        color: black;
    }
    .card a:hover{
        background-color: cornflowerblue;
        
         box-shadow: 8px 10px 10px 0 rgba(0,0,0,0.2);
        transition: 0.5s;
    }
    
    
    
    
    /*////////////////////////////////////////*/
    
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    label #btn,
    label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
    }
    #check{
    display: none;
    }
    
    /*////////////////////FOOTER//////////////*/
    .footer hr{
    margin: 15px;
   }
   .media li{
    display: inline-block;
    margin: 0px 20px;
    line-height: 40px;
    opacity: 0.6;
    font-size: 10px;
   }
   .footer{
    text-align: center;
    opacity: 0.60;
    margin-top: 15px;
    
   }
   .footer h1 {
    font-size: 1.5vw;
    font-family:monospace;
    opacity: 0.6;

    }
    .footer p{
    font-family: cursive;
    }
    /*////////////////////FOOTER//////////////*/
}

}
nav ul{
    margin-right: 20px;
    
}
nav a{
    font-size: 17px;
}
@media(max-width:1108px){
    .cardcontainer{
        display: inline-block;
        justify-content: center;
        margin-left:0px;
        margin-right: 0px;
    }
    label.Logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0px 50px;
    line-height: 80px;
    }
    
    label #btn{
        
    display: block;
    }
    nav #icon{
        display: block;
    }
    
    nav ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: #2f3640;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
    color: #55E6C1;
    
    }
    nav ul.show{
        left:0;
        
    }
    

    
    #check:checked ~ ul{
        left: 0;
        position:absolute;
    }
    #check:checked ~ label #btn{
        display: none;
        
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .media li{
        font-size: 8px;
    }
    .footer h1{
        font-size: 10px;
    }
    .card{
        align-content: center;
        align-items: center;
    }
    
}

